In [1]:
import pandas as pd

In [4]:
df = pd.read_csv(r'E:\OneDrive\露露\22-03-15-Inventorys (2)(1).csv')

In [5]:
print(df[c])

0                            KAUWHATA MDF 15MM
1                       SMEG DARK BLUE OAK LEG
2                                  IRIZO SMALL
3                                        TERZO
4                                  BOGA FOREST
                         ...
11758                              DOTTIE ROSE
11759    ZOMBA GREEN VELVET DIAMOND KD METAL A
11760                        RICO WHITE 6PCS A
11761                                  FROILLE
11762                   COUNCILBLUFFS BLACK LT
Name: Goods Name, Length: 11763, dtype: object

In [14]:
df1 = pd.DataFrame(df,columns=['Goods Name','Packing Size','Gross Weight'])

In [15]:
print(df1)

                                  Goods Name         Packing Size Gross Weight
0                          KAUWHATA MDF 15MM    61.00*59.00*10.00          9.2
1                     SMEG DARK BLUE OAK LEG    67.00*41.00*52.00           13
2                                IRIZO SMALL  112.00*112.00*15.00         27.3
3                                      TERZO     82.00*26.00*7.00            7
4                                BOGA FOREST    64.00*64.00*54.00         11.5
...                                      ...                  ...          ...
11758                            DOTTIE ROSE    69.00*66.00*52.50        10.35
11759  ZOMBA GREEN VELVET DIAMOND KD METAL A    53.00*47.00*52.00           13
11760                      RICO WHITE 6PCS A    58.00*46.00*53.00         26.2
11761                                FROILLE   127.00*63.00*13.00           28
11762                 COUNCILBLUFFS BLACK LT   140.00*48.50*18.00           17

[11763 rows x 3 columns]

In [16]:
df_2 = df1['Packing Size'].str.split('*',expand=True)

In [17]:
print(df_2)

           0       1      2     3     4     5     6     7     8     9     10  \
0       61.00   59.00  10.00  None  None  None  None  None  None  None  None
1       67.00   41.00  52.00  None  None  None  None  None  None  None  None
2      112.00  112.00  15.00  None  None  None  None  None  None  None  None
3       82.00   26.00   7.00  None  None  None  None  None  None  None  None
4       64.00   64.00  54.00  None  None  None  None  None  None  None  None
...       ...     ...    ...   ...   ...   ...   ...   ...   ...   ...   ...
11758   69.00   66.00  52.50  None  None  None  None  None  None  None  None
11759   53.00   47.00  52.00  None  None  None  None  None  None  None  None
11760   58.00   46.00  53.00  None  None  None  None  None  None  None  None
11761  127.00   63.00  13.00  None  None  None  None  None  None  None  None
11762  140.00   48.50  18.00  None  None  None  None  None  None  None  None

         11    12    13    14    15    16
0      None  None  None  None  None  None
1      None  None  None  None  None  None
2      None  None  None  None  None  None
3      None  None  None  None  None  None
4      None  None  None  None  None  None
...     ...   ...   ...   ...   ...   ...
11758  None  None  None  None  None  None
11759  None  None  None  None  None  None
11760  None  None  None  None  None  None
11761  None  None  None  None  None  None
11762  None  None  None  None  None  None

[11763 rows x 17 columns]

In [28]:
df1 = pd.concat([df1,df_2],axis=1)

In [57]:
df1 = df1.rename(columns={0:'长',1:'宽',2:'高'})

In [53]:
df1 = df1.drop(16,1)

In [61]:
print(df1.iloc[1].to_dict())
dic = df1.iloc[1].to_dict()

{'Goods Name': 'SMEG DARK BLUE OAK LEG', 'Packing Size': '67.00*41.00*52.00', 'Gross Weight': '13', '长': '67.00', '宽': '41.00', '高': '52.00'}

In [70]:
freight = 0.00
L = float(dic['长'])
W = float(dic['宽'])
H = float(dic['高'])
GW = float(dic['Gross Weight'])
LWH_list = [L,W,H]
LWH_list.sort()

In [102]:
fre_list = []
for i in range(11763):
    print(i)
    dic = df1.iloc[i].to_dict()
    freight = 0.00
    L = float(dic['长'])
    W = float(dic['宽'])
    H = float(dic['高'])
    GW = float(dic['Gross Weight'])
    LWH_list = [L,W,H]
    LWH_list.sort()
    try:
        if GW > 67.5 or LWH_list[-1] > 274 or (L+2*(W+H))>419:
            freight = 9999.00
        else:
            GWLBS = GW/0.45
            VOL = (L*0.3937*W*0.3937*H*0.3937)/139
            WG_list = [GWLBS,VOL]
            WG_list.sort()
            FinalGW = WG_list[-1]

            FinalGW = math.ceil(FinalGW)

            if GWLBS > 50.0:
                Over_Wet = 20.4
            else:
                Over_Wet = 0.0

            if LWH_list[-1] > 121.0 or LWH_list[-2] > 76.0 or 330.0>=(L+2*(W+H))>266.0:
                Over_lon = 10.7
            else:
                Over_lon = 0.0

            if 419.0>=(L+2*(W+H))>330.0:
                Over_Vol = 110.0
                if Over_lon != 0.0 and FinalGW < 90:
                    FinalGW = 90
            else:
                Over_Vol = 0.0

            house_fee = 3.8
            base_Fre = value.loc[value['≤磅/lbs']==float(FinalGW),'Zone 8']
            print(base_Fre)
            base_Fre = float(base_Fre.iloc[0])

            add_up = base_Fre+Over_Vol+Over_Wet+Over_lon+house_fee
            Fuel_add = add_up*0.13
            freight = freight+Fuel_add+add_up
    except:
        freight = "NA"
    fre_list.append(freight)

df1['UPS_Freight'] = fre_list

0
20    22.08
Name: Zone 8, dtype: float64
1
62    43.78
Name: Zone 8, dtype: float64
2
89    52.29
Name: Zone 8, dtype: float64
3
15    19.87
Name: Zone 8, dtype: float64
4
97    55.7
Name: Zone 8, dtype: float64
5
17    21.54
Name: Zone 8, dtype: float64
6
66    44.75
Name: Zone 8, dtype: float64
7
42    36.41
Name: Zone 8, dtype: float64
8
38    33.98
Name: Zone 8, dtype: float64
9
16    20.16
Name: Zone 8, dtype: float64
10
53    40.75
Name: Zone 8, dtype: float64
11
97    55.7
Name: Zone 8, dtype: float64
12
38    33.98
Name: Zone 8, dtype: float64
13
2    11.54
Name: Zone 8, dtype: float64
14
18    22.42
Name: Zone 8, dtype: float64
15
30    28.42
Name: Zone 8, dtype: float64
16
2    11.54
Name: Zone 8, dtype: float64
17
89    52.29
Name: Zone 8, dtype: float64
18
2    11.54
Name: Zone 8, dtype: float64
19
75    45.98
Name: Zone 8, dtype: float64
20
2    11.54
Name: Zone 8, dtype: float64
21
69    45.35
Name: Zone 8, dtype: float64
22
25    26.88
Name: Zone 8, dtype: float64
23
Series([], Name: Zone 8, dtype: float64)
24
Series([], Name: Zone 8, dtype: float64)
25
56    41.66
Name: Zone 8, dtype: float64
26
29    30.35
Name: Zone 8, dtype: float64
27
30    28.42
Name: Zone 8, dtype: float64
28
55    41.24
Name: Zone 8, dtype: float64
29
2    11.54
Name: Zone 8, dtype: float64
30
56    41.66
Name: Zone 8, dtype: float64
31
56    41.66
Name: Zone 8, dtype: float64
32
31    29.0
Name: Zone 8, dtype: float64
33
24    25.82
Name: Zone 8, dtype: float64
34
9    15.21
Name: Zone 8, dtype: float64
35
36
55    41.24
Name: Zone 8, dtype: float64
37
57    42.41
Name: Zone 8, dtype: float64
38
72    45.84
Name: Zone 8, dtype: float64
39
78    46.72
Name: Zone 8, dtype: float64
40
28    29.14
Name: Zone 8, dtype: float64
41
61    43.52
Name: Zone 8, dtype: float64
42

ValueError: could not convert string to float: '10.50,89.00'

In [71]:
import math

In [68]:
list1.sort()

In [63]:
import xlwings as xw
app = xw.App(visible=True,add_book=False)
book = app.books.open(r'E:\OneDrive\露露\220128 ups 报价--rancho ontario atlanta us lax us ccp us aus us jfk us alt .xlsx')
sheet = book.sheets[0]
value = sheet.range('A2:I152').options(pd.DataFrame,header=1,index=0).value

In [73]:
print(value)

     ≤磅/lbs  重量不超（g）  Zone 2  Zone 3  Zone 4  Zone 5  Zone 6  Zone 7  Zone 8
0       1.0    450.0   11.02   11.02   11.02   11.02   11.02   11.02   11.02
1       2.0    900.0   11.02   11.02   11.02   11.02   11.02   11.02   11.02
2       3.0   1350.0   11.02   11.02   11.02   11.02   11.02   11.02   11.54
3       4.0   1800.0   11.02   11.02   11.02   11.02   11.09   11.81   12.36
4       5.0   2250.0   11.02   11.02   11.02   11.27   11.74   12.35   13.10
..      ...      ...     ...     ...     ...     ...     ...     ...     ...
145   146.0  65700.0   55.01   56.68   59.31   59.93   65.91   71.72   79.90
146   147.0  66150.0   55.77   56.72   59.78   60.41   66.38   71.73   80.45
147   148.0  66600.0   56.08   57.09   60.35   60.93   67.22   72.20   81.64
148   149.0  67050.0   56.08   57.59   60.78   61.37   67.23   72.48   81.65
149   150.0  67500.0   56.09   57.62   61.31   62.95   67.37   72.63   81.82

[150 rows x 9 columns]